<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn Vue.js</title>
</head>

<body>


  <div id="ahmed">
    <h1>Welcome To Vue.js Course </h1>
    <p>Welcome {{ 'Dev ' + name }} We Are Happy to see you.</p>
    <p v-text=" name ? name : 'No Name'"></p>
    <p v-html="title"></p>
    <ul>
      <li v-for="skill in skills">
        {{ skill }}
      </li>
    </ul>
    <ul>
      <li v-for="(skill, index) in skills">
        {{ index }} => {{ skill }}
      </li>
    </ul>
    <ul>
      <li v-for="(test, index) in completedTest">
        {{ index }} => {{ test.testName }} || {{ test.testResult }}
      </li>
    </ul>
  </div>

  <script src="js/vue.js"></script>
  <script>

    new Vue({
      el: '#ahmed',
      data: {
        name: true,
        title: "<div class='rank'>this.name</div>",
        skills: ['Html', 'Css', 'PhP', 'Vue.js'],
        completedTest: [
          {
            testName: 'first Test',
            testResult: '80%'
          },
          {
            testName: 'Second Test',
            testResult: '70%'
          },
          {
            testName: 'Third Test',
            testResult: '90%'
          },
        ],
      },
    })
  </script>
</body>

</html>