<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn Vue.js</title>
</head>

<body>


  <div id="ahmed">
    <h1>Welcome To Vue.js Course </h1>
    <p v-if="source.length > 5 ">{{source.length}}عدد الحروف اكبر من</p>
    <!-- <p v-if=" age < 18 ">You are not over the legal age</p>
    <p v-else-if=" age >= 40 ">You are over the required age</p>
    <p v-else> you Didnt Set A  Name</p>
    <p v-once> you Didnt Set A Name</p>
    <p v-show="name"> you Didnt Set A Name</p>
    <a :href="url">
      <img v-bind:src="urlImage" alt="" srcset="">
    </a>
    <p> Counter Is {{ counter }}</p>ي
    <button v-on:click.once="counter++">button</button> -->
    <form action="" method="post">
      <input type="text" v-model:value="source" >
    </form>
  </div>

  <script src="js/vue.js"></script>
  <script>

    new Vue({
      el: '#ahmed',
      data: {
        name: '',
        // age:0,
        // url: "https://www.google.com/",
        // urlImage: "https://image.shutterstock.com/image-illustration/number-300-white-on-light-260nw-1683875761.jpg",
        // counter: 0,
        source: 0,
        fun: function () {
          if (this.source.length > 5 ) {
            return this.name = "Ahmed"
          }
        }
      }
    })





  </script>
</body>

</html>